<ul class="list-unstyled">


<li class="mb-1">
<a href="/school-admin/dashboard" class="btn w-100 text-start">
<i class="bi bi-speedometer2 me-2"></i> Dashboard
</a>
</li>


{{#if (hasPermission user 'students:read')}}
<li class="mb-1">
<a href="/school-admin/students" class="btn w-100 text-start">
<i class="bi bi-people me-2"></i> Students
</a>
</li>
{{/if}}


{{#if (hasPermission user 'staff:read')}}
<li class="mb-1">
<a href="/school-admin/staff" class="btn w-100 text-start">
<i class="bi bi-person-badge me-2"></i> Staff
</a>
</li>
{{/if}}


<li class="text-muted small mt-4 mb-2">Finance</li>


{{#if (hasPermission user 'fees:read')}}
<li class="mb-1">
<a href="/school-admin/fees" class="btn w-100 text-start">
<i class="bi bi-cash-coin me-2"></i> Fees
</a>
</li>
{{/if}}


{{#if (hasPermission user 'invoices:read')}}
<li class="mb-1">
<a href="/school-admin/invoices" class="btn w-100 text-start">
<i class="bi bi-receipt me-2"></i> Invoices
</a>
</li>
{{/if}}


{{#if (hasPermission user 'payments:read')}}
<li class="mb-1">
<a href="/school-admin/payments" class="btn w-100 text-start">
<i class="bi bi-credit-card me-2"></i> Payments
</a>
</li>
{{/if}}


<li class="text-muted small mt-4 mb-2">Settings</li>


<li class="mb-1">
<a href="/school-admin/school" class="btn w-100 text-start">
<i class="bi bi-building me-2"></i> School Profile
</a>
</li>


</ul>