<!-- ================= Sidebar Navigation ================= -->
<ul class="collapsible expandable">

  <!-- Dashboard -->
  <li class="{{#ifActive '/super-admin/dashboard'}}active{{/ifActive}}">
    <div class="collapsible-header waves-effect">
      <i class="material-icons">speed</i>
      <a href="/super-admin/dashboard" class="black-text">Dashboard</a>
    </div>
  </li>

  <!-- Schools -->
  <li class="{{#ifActivePrefix currentPath '/super-admin/schools'}}active{{/ifActivePrefix}}">
    <div class="collapsible-header waves-effect">
      <i class="material-icons">school</i>
      Schools
      <i class="material-icons right">expand_more</i>
    </div>
    <div class="collapsible-body">
      <ul>
        <li>
          <a href="/super-admin/schools"
             class="waves-effect {{#ifActive '/super-admin/schools'}}active{{/ifActive}}">
            All Schools
          </a>
        </li>
        <li>
          <a href="/super-admin/schools/create/new"
             class="waves-effect {{#ifActive '/super-admin/schools/create/new'}}active{{/ifActive}}">
            Create School
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Students -->
  <li class="{{#ifActivePrefix currentPath '/super-admin/students'}}active{{/ifActivePrefix}}">
    <div class="collapsible-header waves-effect">
      <i class="material-icons">groups</i>
      Students
      <i class="material-icons right">expand_more</i>
    </div>
    <div class="collapsible-body">
      <ul>
        <li>
          <a href="/super-admin/students"
             class="waves-effect {{#ifActive '/super-admin/students'}}active{{/ifActive}}">
            All Students
          </a>
        </li>
        <li>
          <a href="/super-admin/enrollments"
             class="waves-effect {{#ifActive '/super-admin/enrollments'}}active{{/ifActive}}">
            Enrollments
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Staff -->
  <li class="{{#ifActivePrefix currentPath '/super-admin/staff'}}active{{/ifActivePrefix}}">
    <div class="collapsible-header waves-effect">
      <i class="material-icons">badge</i>
      Staff
      <i class="material-icons right">expand_more</i>
    </div>
    <div class="collapsible-body">
      <ul>
        <li>
          <a href="/super-admin/staff"
             class="waves-effect {{#ifActive '/super-admin/staff'}}active{{/ifActive}}">
            All Staff
          </a>
        </li>
        <li>
          <a href="/super-admin/roles"
             class="waves-effect {{#ifActive '/super-admin/roles'}}active{{/ifActive}}">
            Roles
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Classes -->
  <li class="{{#ifActive '/super-admin/classes'}}active{{/ifActive}}">
    <div class="collapsible-header waves-effect">
      <i class="material-icons">menu_book</i>
      <a href="/super-admin/classes" class="black-text">Classes</a>
    </div>
  </li>
</ul>

<!-- Section Label -->
<div class="grey-text text-darken-1" style="margin: 20px 0 10px;">
  <small>Administration</small>
</div>

<ul>
  <li>
    <a href="/super-admin/settings"
       class="waves-effect {{#ifActive '/super-admin/settings'}}active{{/ifActive}}">
      <i class="material-icons">settings</i>
      Settings
    </a>
  </li>

  <li>
    <a href="/super-admin/plans"
       class="waves-effect {{#ifActive '/super-admin/plans'}}active{{/ifActive}}">
      <i class="material-icons">layers</i>
      Plans
    </a>
  </li>

  <li>
    <a href="/super-admin/subscriptions"
       class="waves-effect {{#ifActive '/super-admin/subscriptions'}}active{{/ifActive}}">
      <i class="material-icons">assignment_turned_in</i>
      Subscriptions
    </a>
  </li>
</ul>
